@font-face {
    font-family: roboto-regular;
    src: url('../Fonts/Roboto-Regular.ttf');
} 

.background {
    display: flex;
    background-color: #3f3f3f;
    height: 100vh;
    align-items: center;
}

.blank-space {
    background-color: #20422b;
    height: 100vh;
    width: 60vw;
}

.profile-popout {
    display: flex;
    height: 70vh;
    width: 60vw;
    opacity: 0;
    margin-left: -40vw;
}

.picture-popout {
    height: 100%;
    opacity: 0;
    font-family: robot-regular;
    user-select: none;
}

.popout-desc {
    width:50%;
    padding: 50px;
    text-align: center;
    opacity: 0;
    background-color: #c0d3c7;
    color: #3f3f3f;
}

.desc-name {
    position: absolute;
    height: 20%;
    font-size: 48px;
    user-select: none;
    cursor: default;
}

@keyframes fade-in-right{
    10% {
        opacity: 0;
        margin-left: -100px;
    }
    33% {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes fade-in-left{
    10% {
        opacity: 0;
        margin-left: 200px;
    }
    33% {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes fade-in-up{
    0% {
        opacity: 0;
        margin-top: 500px;
    }
    33% {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes fade-in{
    10% {
        opacity: 0;
    }
    20% {
        box-shadow: none;
    }
    33% {
        opacity: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
      .picture-popout {
        animation: fade-in-right linear both;
        animation-timeline: scroll();
      }
      .popout-desc {
        animation: fade-in-left linear both;
        animation-timeline: scroll();
      }
      .profile-popout {
        animation: fade-in linear both;
        animation-timeline: scroll();
      }
      .about-box {
        animation: fade-in-up linear both;
        animation-timeline: scroll();
      }
    }
  }

.half-border {
    height: 2px;
    width: 50%;
    margin-top: 80px;
    background-color: #3f3f3f;
    justify-self: center;
}

.spacer {
    height: 30px;
}

.desc-label {
    font-weight: bold;
    text-align: left;
    user-select: none;
    cursor: default;
}

.desc-text {
    text-align: left;
}

.about-box {
    opacity: 0;
    height: 50vh;
    width: 50vw;
    padding: 50px;
}

.about-text {
    height: 100%;
    width: 80%;
    padding: 20px;
    justify-self: center;
    color: #e7ffef;
}

.about-title {
    text-align: left;
    font-size: 36px;
}

.about-content {
    font-size: 18px;
    text-align: left;
}

.desc-links {
    display: flex;
    justify-content: center;
}

.logo-link {
    margin: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
}