@font-face {
    font-family: roboto-regular;
    src: url('../Fonts/Roboto-Regular.ttf');
} 
/* 
@media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
      .picture-popout {
        animation: fade-in-right-p2 linear both;
        animation-timeline: scroll(root);
      }
      .popout-desc {
        animation: fade-in-left-p2 linear both;
        animation-timeline: scroll(root);
      }
      .profile-popout {
        animation: fade-in-p2 linear both;
        animation-timeline: scroll(root);
      }
      .about-box {
        animation: fade-in-up-p2 linear both;
        animation-timeline: scroll(root);
      }
    }
  } */

.background {
    display: flex;
    flex-wrap: wrap;
    background-color: #3f3f3f;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.blank-space {
    background-color: #20422b;
    height: 40vh;
    width: 100vw;
}

.profile-popout {
    display: flex;
    height: 30vh;
    width: 90vw;
    opacity: 0;
    margin-left: 5vw;
    margin-top: -25vh;
}

.picture-popout {
    height: 100%;
    opacity: 0;
    font-family: robot-regular;
    user-select: none;
}

.popout-desc {
    width:50%;
    padding: 5px;
    text-align: center;
    opacity: 0;
    background-color: #c0d3c7;
    color: #3f3f3f;
}

.desc-name {
    position: relative;
    height: 15%;
    /* background-color: red; */
    margin-bottom: 5px;
    font-size: 24px;
    user-select: none;
    cursor: default;
}

@keyframes fade-in-right-p2{
    0% {
        opacity: 0;
        margin-left: -100vw;
    }
    18% {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes fade-in-left-p2{
    0% {
        opacity: 0;
        margin-left: 200vw;
    }
    18% {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes fade-in-up-p2{
    0% {
        opacity: 0;
        margin-top: 500px;
    }
    18% {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes fade-in-p2{
    0% {
        opacity: 0;
    }
    17% {
        box-shadow: none;
    }
    18% {
        opacity: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.half-border {
    height: 2px;
    width: 50%;
    background-color: #3f3f3f;
    justify-self: center;
}

.spacer {
    height: 10px;
}

.desc-label {
    font-weight: bold;
    text-align: left;
    user-select: none;
    cursor: default;
    font-size: 14px;
}

.desc-text {
    text-align: left;
    font-size: 10px;
}

.about-box {
    /* background-color: red; */
    opacity: 0;
    height: 50vh;
    width: 100vw;
    padding: 20px 0px 10px 0px;
    user-select: none;
}

.about-text {
    height: 100%;
    width: 80%;
    /* padding: 20px; */
    justify-self: center;
    color: #e7ffef;
}

.about-title {
    text-align: center;
    font-size: 36px;
}

.about-content {
    font-size: 18px;
    text-align: left;
}

.desc-links {
    /* background-color: red; */
    height: 10%;
    display: flex;
    justify-content: center;
}

.logo-link {
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
}

.img-click {
    margin: 20px;
    margin-top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

/* For Desktop */
@media only screen and (min-width: 768px) {
.background {
    display: flex;
    background-color: #3f3f3f;
    height: 100vh;
    align-items: center;
}

.blank-space {
    background-color: #20422b;
    height: 100vh;
    width: 50vw;
}

.profile-popout {
    display: flex;
    height: 70vh;
    width: 50vw;
    opacity: 1;
    margin-left: -40vw;
    margin-top: 0;
}

.picture-popout {
    height: 100%;
    opacity: 1;
    font-family: robot-regular;
    user-select: none;
}

.popout-desc {
    width:100%;
    padding: 50px;
    text-align: center;
    opacity: 1;
    background-color: #c0d3c7;
    color: #3f3f3f;
}

.desc-name {
    height: 20%;
    min-width: 300px;
    font-size: 48px;
    user-select: none;
    cursor: default;
}

@keyframes fade-in-right-p2{
    0% {
        opacity: 0;
        margin-left: -20vw;
    }
    25% {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes fade-in-left-p2{
    0% {
        opacity: 0;
        margin-left: 40vw;
    }
    25% {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes fade-in-up-p2{
    0% {
        opacity: 0;
        margin-top: 500px;
    }
    25% {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes fade-in-p2{
    0% {
        opacity: 0;
    }
    24% {
        box-shadow: none;
    }
    25% {
        opacity: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.half-border {
    height: 2px;
    width: 50%;
    background-color: #3f3f3f;
    justify-self: center;
}

.spacer {
    height: 30px;
}

.desc-label {
    font-weight: bold;
    text-align: left;
    user-select: none;
    cursor: default;
    font-size: 18px;
}

.desc-text {
    text-align: left;
    font-size: 14px;
}

.about-box {
    opacity: 1;
    height: 60vh;
    width: 30vw;
    margin-left: 5vw;
    user-select: none;
}

.about-text {
    height: 100%;
    width: 80%;
    padding: 20px;
    justify-self: center;
    color: #e7ffef;
}

.about-title {
    text-align: left;
    font-size: 36px;
}

.about-content {
    font-size: 18px;
    text-align: left;
}

.desc-links {
    display: flex;
    justify-content: center;
}

.logo-link {
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
}

.img-click {
    margin: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
}
