@font-face {
    font-family: roboto-regular;
    src: url('../Fonts/Roboto-Regular.ttf');
} 

.navbar {
    position: fixed;
    width: 100%;
    height: 10%;
    z-index: 100;
    background-color: #121212;
    justify-content: left;
    display: flex;
    border-bottom: solid 1px #8b8b8b;
    user-select: none;
}

.navbar-logo {
    position: relative;
    height: 70%;
    max-width: 12%;
    border-radius: 100%;
    aspect-ratio: 1/1;
    align-self: center;
    margin-left: 2%;
    margin-right: 5%;
    transform: all 0.4s ease;
}

.navbar-logo:hover {
    transform: scale(1.1);
}

.navbar-text {
    position: relative;
    text-align: right;
    /* background-color: orange; */
    color: #8b8b8b;
    bottom: 0;
    left: 0;
    font-family: roboto-regular;
    font-size: 12px;
    margin-top: 10%;
    margin-left: 5%;
    transition: all 0.4s ease;
}

.navbar-text:hover {
    color: #ffffff;
    transform: scale(1.1);
}

.clickable:hover {
    cursor: pointer;
}

.navbar-resume-download-btn {
    width: 100%;
    height: 100%;
    background-color: #bbbbbb;
    display: flex;
    justify-self: right;
    color: black;
    border-radius: 2em;
    font-size: 14px;
    text-align: center;
    align-items: center;
    transition: all 0.4s ease;
}

.navbar-resume-download-btn:hover {
    background-color: #8b8b8b;
    transform: scale(1.1);
}

.right {
    visibility: hidden;
}
/* For Desktop */
@media only screen and (min-width: 768px) {
.navbar {
    position: fixed;
    width: 100vw;
    height: min(20vw,70px);
    z-index: 100;
    background-color: #121212;
    justify-content: left;
    display: flex;
    border-bottom: solid 1px #8b8b8b;
    user-select: none;
}

.navbar-item {
    position: relative;
    /* background-color: blue; */
    height: 100%;
    width: 100px;
    /* margin-left: min(20px, 2%); */
    text-align: left;
}

.navbar-logo {
    position: relative;
    height: 100%-20px;
    border-radius: 100%;
    aspect-ratio: 1/1;
    margin-right: min(30px,2%);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.navbar-text {
    position: relative;
    height: 0;
    margin-top: 30px;
    margin-left: 2%;
    background-color: orange;
    color: #8b8b8b;
    font-family: roboto-regular;
    text-align: left;
    font-size: 18px;
}

.clickable:hover {
    cursor: pointer;
    color: #ffffff;
}

.right {
    width: 200px;
    height: 70%;
    position: absolute;
    text-align: right;
    right: 0;
    margin-right: 50px;
    align-self: center;
}

.navbar-resume-download-btn {
    width: 200px;
    height: 50px;
    background-color: #bbbbbb;
    display: flex;
    justify-self: right;
    color: black;
    border-radius: 2em;
    font-size: 14px;
    text-align: center;
    align-items: center;
    visibility: visible;
}

.download-icon {
    max-height: 25px;
    margin-left: 20px;
}
}