@tailwind base;
@tailwind components;
@tailwind utilities;

/* Black
#121212
#282828
#3f3f3f
#575757
#717171
#8b8b8b
#bbbbbb
#ffffff
White */

:root {
  --background: #ffffff;
  --foreground: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.spotlight {
  position: absolute;
  top: -300px;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  filter: blur(40px);
  transition: all 0.1s ease-out;
  z-index: 0;
}